html,
body {
    height: 100%;
    width: 100dvw;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #fff, #696D6C);
    font-family: monospace;
}

h1 {
    position: absolute;
    top: 0;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.clock-section {
    display: flex;
    gap: 5px;
}

.clock-item {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.digits-container {
    display: flex;
    flex-direction: column;
    background-color: #696D6C;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.digit {
    font-size: 1.8rem;
    height: 40px;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    line-height: 40px;
    box-sizing: border-box;
}

.digit.active {
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.digit.active::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    z-index: 0;
}